/* variables */
/* imports */
* {
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.ship {
  background: red;
  position: absolute;
  border: 1px solid black; }
  .ship span {
    height: 35px;
    width: 35px;
    background: yellow;
    display: inline-block; }

.start-buttons {
  width: 100px; }

.carrier-horizontal {
  height: 40px;
  width: 200px; }

.battleship-horizontal {
  height: 40px;
  width: 160px; }

.cruiser-horizontal {
  height: 40px;
  width: 120px; }

.submarine-horizontal {
  height: 40px;
  width: 120px; }

.destroyer-horizontal {
  height: 40px;
  width: 80px; }

.carrier-vertical {
  width: 40px;
  height: 200px; }

.battleship-vertical {
  width: 40px;
  height: 160px; }

.cruiser-vertical {
  width: 40px;
  height: 120px; }

.submarine-vertical {
  width: 40px;
  height: 120px; }

.destroyer-vertical {
  width: 40px;
  height: 80px; }

.ship-rotate {
  width: 40px;
  height: 40px;
  background: #ccc;
  text-align: center;
  padding-top: 10px; }

body {
  width: 1280px;
  margin: 0 auto; }

.waiting {
  display: none; }

.player-one-grids, .player-two-grids {
  margin: 20px auto;
  clear: both;
  display: none; }
  .player-one-grids table, .player-two-grids table {
    width: 400px;
    height: 400px;
    float: left; }
    .player-one-grids table td, .player-two-grids table td {
      width: 40px;
      height: 40px;
      background: #4483B7; }
  .player-one-grids ul, .player-two-grids ul {
    float: right;
    position: relative;
    width: 320px; }
    .player-one-grids ul li, .player-two-grids ul li {
      padding-top: 50px;
      position: relative;
      list-style-type: none; }
    .player-one-grids ul div, .player-two-grids ul div {
      z-index: 999;
      margin-top: -25px; }
  .player-one-grids .player-one-grid, .player-one-grids .player-two-grid, .player-two-grids .player-one-grid, .player-two-grids .player-two-grid {
    float: left; }
