.grids {
/*  width: $grid-container-width; */

  .player-grid {
    float: left;

    table {
      width: $grid-height;
      height: $grid-width;
    }

    td{
      width: 50px;
      height: 50px;
      background: blue;
      border: none;
    }
  }

  .enemy-grid {
    float: right;
  }
}






/* .player-grid */
/* .enemy-grid */
