body {
  width: $grid-container-width;
  margin: 0 auto;
}

.waiting {
  display: none;
}

.player-one-grids, .player-two-grids {
  margin: 20px auto;
  clear:both;
  display: none;
  
  table {
    width: $grid-width;
    height: $grid-height;
    float:left;

    td {
      width: $grid-square-width;
      height: $grid-square-height;
      background: $grid-background;
    }
  }

  ul {
    float: right;
    position: relative;
    width: $grid-square-width*8;
    
    li {
      padding-top: $grid-square-height + 10;
      position: relative;
      list-style-type: none;
    }

    div {
      z-index: 800;
      margin-top: -25px;
    }

  }

  .player-one-grid, .player-two-grid {
    float: left;
  }

  .enemy-one-grid, .enemy-two-grid {
    //float: right;
  }
}


