.ships {
  position:relative;
  height: 300px;
  width: 800px;
  float: left;
}

.ship{
  background: red;
  position: absolute;
  border: 1px solid black;
  margin-top: -25px;
}

.start-buttons {
  width: 100px;
}

.carrier-horizontal {
  height: ($grid-square-height);
  width: ($grid-square-width * 5);
}

.battleship-horizontal {
  height: ($grid-square-height);
  width: ($grid-square-width * 4);
}

.cruiser-horizontal {
  height: ($grid-square-height);
  width: ($grid-square-width * 3);
}

.submarine-horizontal {
  height: ($grid-square-height);
  width: ($grid-square-width * 3);
}

.destroyer-horizontal {  
  height: ($grid-square-height);
  width: ($grid-square-width * 2);
}

.carrier-vertical {
  width: ($grid-square-width);
  height: ($grid-square-height * 5);
}

.battleship-vertical {
  width: ($grid-square-width);
  height: ($grid-square-height * 4);
}

.cruiser-vertical {
  width: ($grid-square-width);
  height: ($grid-square-height * 3);
}

.submarine-vertical {
  width: ($grid-square-width);
  height: ($grid-square-height * 3);
}

.destroyer-vertical {  
  width: ($grid-square-width);
  height: ($grid-square-height * 2);
}

.ship-rotate {
  width: 40px;
  height: 40px;
  background: #ccc;
  text-align: center;
  padding-top: 10px;
} 

