/* variables */
$grid-height: 200px;
$grid-width: 200px;
$grid-square-width: ($grid-width / 10);
$grid-square-height: ($grid-height / 10);
$grid-background: #4483B7;
$grid-container-width: 1280px;

/* imports */
@import 'base';
@import 'ships';
@import 'board';
